.social-embed {
    all: unset;
    display: block;
}

.social-embed * {
    all: unset;
    display: revert;
}

.social-embed::after {
    all: unset;
}

.social-embed::before {
    all: unset;
}

blockquote:not(*) {
    all: unset;
}

.social-embed a {
    cursor: pointer;
}

blockquote.social-embed {
    box-sizing: border-box;
    border: .5px solid;
    width: 550px;
    max-width: 100%;
    font-family: sans-serif;
    margin: auto;
    margin-bottom: .5em;
    padding: 1em;
    border-radius: .5em;
    background-color: #FFF;
    color: #000;
    display: block;
    white-space: normal;
}

.social-embed-header {
    display: flex;
    justify-content: space-between;
}

.social-embed-user {
    display: flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.social-embed-avatar {
    width: 3em;
    height: 3em;
    margin-right: .5em;
}

.social-embed-avatar-circle {
    border-radius: 50%;
}

.social-embed-avatar-square {
    border-radius: 5%;
}

.social-embed-user-names-name {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 0;
}

.social-embed-text {
    margin-top: .5em;
}

.social-embed-footer a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-embed-logo {
    width: 3em;
}

.social-embed-hr {
    border: .1px solid;
    margin: .5em 0 .5em 0;
}

.social-embed-meta {
    text-decoration: none !important;
    color: unset !important;
}

.social-embed-reply {
    display: block;
}

.social-embed-text a, .social-embed-footer time {
    color: blue;
    text-decoration: underline;
}

.social-embed-media-grid {
    display: flex;
    flex-wrap: wrap;
}

.social-embed-media-link {
    flex-grow: 1;
    width: 50%;
}

.social-embed-media, .social-embed-video {
    padding: .1em;
    width: 100%;
    border-radius: .5em;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}

.social-embed-reply {
    font-size: .75em;
    display: block;
}

.social-embed-meter {
    width: 100%;
    background: #0005;
}

.social-embed-card {
    text-decoration: none !important;
    color: unset !important;
    border: .5px solid;
    display: block;
    font-size: .85em;
    padding: .5em;
    border-radius: .5em;
}

.social-embed-badge {
    height: 1em;
    vertical-align: text-top;
}

.social-embed-text p {
    margin-bottom: 1em;
}

.social-embed-emoji {
    display: inline;
    width: 1em;
}